*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    max-width: 2600px;
    margin: 0 auto;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

.header {
    font-family: 'Roboto', sans-serif;
}

.header_top{
    background: #303030;
}

/* _______________________phone____ */
.header_phone,
.header_email,
.header_inst {
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header_email {
    margin: 0 30px 0 0;
}
.header_phone {
    margin: 0 30px 0 0;
    padding: 0 0 0 20px;
}
.header_phone::before {
    content: "\f095";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header_inst {
    padding: 0 0 0 20px;
}

.header_inst::before {
    content: "\f16d";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header_facebooke {

}

.header_facebooke::before {
    content: "\f082";
    font-family: 'icomoon' !important;
    /* position: absolute; */
    left: 0;
    color: #ffc222;
}

/* _______________________email____ */
.header_email {
    padding: 0 0 0 24px;
}
.header_email::before {
    content: "\f003";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0;
    color: #ffc222;
}

/* _______________________btn____ */
.header_btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header_btn::before {
    content: "\f0b1";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}

.header_contacts::after{
    content: " ";
    clear: both;
    display: block;
}

.header_content {
    padding: 10px 0;
}

.header_content_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    background: url(../img/femida_logo.png)center no-repeat;
    background-size:100%;
    width: 90px;
    height: 90px;
}


.header_btn_menu {
    display: none;
}

.container .slider_inner  ul {
        display: flex;
        align-items: center;
        justify-content: center;
        /* display: none; */

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -160px;
    }

    .slider .slick-dots li{
        list-style: none;
        margin: 0 5px;
    }
    /* Активная точка */
    .slider .slick-dots li.slick-active button{
        background-color: transparent;
        border: 1px solid #ffc222;

    }
    /* Элемент точки */
    .slider .slick-dots li button{
        font-size: 0;
        border: 0;
        width: 15px;
        height: 15px;
        background-color: #ffc222;
        border-radius: 50%;
        outline: none;
    }




.news_slider_inner li{
    display: none;
}

.menu li{
    display: inline-block;
    box-sizing: border-box;
}

.menu a {
    font-family: 'Roboto', sans-serif;
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .4s;
}

.menu a:hover {
    border: 1px solid #ffc222;
}

.menu .header_index {
    border: 1px solid #ffc222;
}

.menu li + li {
    padding: 0 0 0 10px;
}


/* ___________PAPAP___________________ */

#animatedModal {
    display: none;
}

/* ___________slider________slider________slider___ */
.slider {
    background: url(../img/slider_fon.jpg) no-repeat ;
    background-size: cover;
    min-height: 500px;
}
/* _____________________________slick_btn_______ */
.slick_btn {
    position: absolute;
    top: 70%;
    z-index: 10;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;

    cursor: pointer;
    outline: none;
    background: #ffc222;
}

.slick_btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon' !important;
    color: #ffffff;
}

.slick-next::before{
    content: "\f105";
    
}
.slick-prev::before{
    content: "\f104";
}

.slick_btn.slick-disabled {
    cursor: default;
    background: transparent;
}

.slick-next {
    right: 0;
    
}
.slick-prev{
    left: 0;
    
}

.container {
}
.slider_inner {
    position: relative;
    
}

.slider_item_contant {
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}

.slider_title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider_text {
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.slider_btn {
    outline: none;
}

.default_btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ffc222;
    padding: 8px 30px 8px 24px;
    border-right-width: 20px;
    position: relative;
}

.default_btn::after {
    content: "\f105";
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

/* ______________________________services */
.services {
    box-sizing: border-box;
    padding: 50px 0px 30px;	
}

.services_top, 
.news_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.services_title_box,
.form_title_box,
.news_title_box {
    max-width: 530px;
    padding-left: 140px;
    position: relative;
}
.services_title,
.form_title,
.news_title  {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #212020;
    margin-bottom: 20px;
}
.services_title::before, 
.form_title::before,
.news_title::before  {
    content: " ";
    position: absolute;
    width: 100px;
    height: 2px;
    background: #ffc222;
    left: -120px;
    top: 50%;
}



.services_text,
.form_text, 
.news_text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
    color: #878787;
}

.services_btn a,
.news_btn a{
    color: #373636;
    letter-spacing: 0.25px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 38px;
    border: 3px solid #ccc;

}

.services_items {
    display: flex;
    justify-content: space-between;
}

.services_item {
    box-sizing: border-box;
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px 0px;
    background: #f9f9f9; 
    position: relative;
    min-height: 375px;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91,89,89,0.14);

}

.services_item_title {
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}

.services_item_text {
    box-sizing: border-box;
    line-height: 18px;
    letter-spacing: 0px;;
    padding: 0px 30px 30px;
    color: #5e5e5e;
    font-size: 14px;
}

.services_item_text li {
    list-style: square outside;
}

.services_item_btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services_item_link {
    color: #050500; 
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050500;
    margin-right: 60px;
}

.services_item_btn .default_btn {
    color: #373636;
}
.services_item_btn .default_btn::after {
    color: #fff;
}

/* _______________________ABOUT_______________ */

.about {
    background: url(../img/backgroundAbout.jpg)center no-repeat;
    min-height: 300px;
    background-size: cover;
    padding: 35px 0px 45px;
}

.about_inner {
    max-width: 700px;
}

.about_title {
    margin: 0px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.about_text {
    margin: 0px 0px 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}

.about_btn.default_btn::after {
    color: #000000;
}

/* _________________________FORM_____ */
.form {
    padding: 30px 0 0 0;
}

.form_inner {
    padding: 0 0 40px 0;
        background: url(../img/femida.png)no-repeat;
    background-size: 20%;
    /* background: url(../img/woman_form.png)no-repeat; */
    font-size: cover;
    min-height: 460px;
    background-position: bottom right;
}
.form_title_box {
    margin: 0px 0px 45px 0px;
}

.form_box{
    max-width: 850px;
}

.fotm_box_inner{
    display: flex;
    justify-content: space-between;

}

.form_box_left {
    max-width: 260px;
    width: 100%;
}

.form_box_right {
    max-width: 555px;
    width: 100%;
}

.fotm_box_inner label,
.fotm_box_inner input,
.fotm_box_inner textarea {
    outline: none;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
}

.fotm_box_inner label {
    line-height: 36px;
    color: #282828;
}

.fotm_box_inner input {
    margin: 0px 0px 8px;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px; 
}

.fotm_box_inner select {
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 0px 0px 17px; 
}

/* ____________jQuery__syle___________ */
.fotm_box_inner .jq-selectbox.jqselect {
    display: block;
    width: 100%;
}
.fotm_box_inner .jq-selectbox__select {
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 0px 0px 17px; 
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}
.fotm_box_inner .jq-selectbox__trigger-arrow::before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 0;
    transform: rotate(90deg);
}
.fotm_box_inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	/* box-shadow: 0 2px 10px rgba(0,0,0,.2); */
}

.fotm_box_inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.fotm_box_inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.fotm_box_inner .jq-selectbox li.disabled {
	color: #AAA;
}
.fotm_box_inner .jq-selectbox li.disabled:hover {
	background: none;
}
.fotm_box_inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.fotm_box_inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.fotm_box_inner .jq-selectbox li.option {
	padding-left: 25px;
}
/* _______________________________ */


.fotm_box_inner textarea {
    border: 1px solid #e6e6e6;
    padding: 10px; 
    height: 207px;
    resize: none;
    margin: 0px 0px 40px 0px;
}

.form_box_right .default_btn {
    background: transparent;
    color: #282828;
    float: right;
}

/* ______________ADVANTAGES_________________ */

.advantages{
    padding: 55px 0px 40px;
    background: url(../img/advantages_fon.jpg)no-repeat center;
    min-height: 285px;
    background-size: cover;
    
    /* #d3d2d2 */
}

.advantages_inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.advantages_item {
    max-width: 360px;
    width: 100%;
    padding: 0px 20px;

}

.advantages_title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 60px 0px 15px;
    position: relative;
}

.advantages_title::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    border:1px solid #ffc222;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages_title::after {
    content: "\f00c";
    font-family: 'icomoon';
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages_text {
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 0.1px;
}

/* ______________________NEWS_________ */

.news {
    padding: 55px 0px 110px;
    background: #f9f9f9;
}

.news_inner {
    display: flex;
    justify-content: space-between;
}

.news_slider {
    max-width: 555px;
    width: 100%;
    background:#fff;
    box-shadow:0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
}
.news_slider::before{
    content: "\f10e";
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 70px;
    color: #ffffff;
    font-size: 16px;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #ffc22f;
}

.news_slider_title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0px 0px 15px;
}

.news_slider_text {
    margin: 0px 0px 30px;   
}


.blog_page {
    color: #4f64e0;
    outline: none;
}

.news_slider_author {
    letter-spacing: 0.1px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.news_slider_inner .slick_btn {
    top: auto;
    bottom: -110px;
    
}

.news_slider_inner .slick-next {
    right: -35px;
}

.news_slider_inner .slick-prev {
    left: auto;
    right: 20px;
}

.news_slider_inner .slick-disabled {
    border-color: #dadada;
}

.news_slider_inner .slick-disabled::before {
    color: #dadada;
}

.case_law {
    background: url(/img/case_law.jpg)center no-repeat;
    background-size:100%;
    max-width: 350px;
    min-height: 450px;

}
/* __________________________NEWS BLOG______ */
.news_blog {
    max-width: 260px;
    width: 100%;
}

.news_img {
    position: relative;
}

.news_date {
    position: absolute;
    background: #ffc22f;
    height: 55px;
    width: 50px;
    color: #ffffff;
    text-align: center;
    padding: 30px 0px 0px 0px;
    font-weight: 700;
    top: 0px;
    left: 10px;
}

.news_blog_title, 
.footet_title {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: #242424;
    padding: 12px 0;
}

.news_blog_text {
    letter-spacing: 0.1px;
    color: #5e5e5e;
}


/* _________________________FOOTER ____*/

.footer_contant {
    background: #595959;
    
}

.footer_inner {
    padding: 20px 0px 30px;
    display: flex;
    justify-content: space-between;
}

.footer_info {
    max-width: 360px;
}

.footet_title {
    color: #ffffff;
    line-height: 36px;
}

.footer_text {
    color: #d3d2d2;
    margin-bottom: 20px;
}

.footer_list {
    padding-top: 10px;
}
.footer_list li {
    margin-top: 10px;
}

.footer_list a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #ffffff;
    font-weight: 300;
    padding: 0 0 0 35px;
    position: relative;
}
.footer_phone::before {
    font-family: 'icomoon'; 
    content:"\f095";
    position: absolute;
    left: 3px;
    color: #ffc222;
} 

.footer_posht::before {
    font-family: 'icomoon'; 
    content:"\f003";
    position: absolute;
    left: 0;
    color: #ffc222;
}

.footer_adress::before {
    font-family: 'icomoon'; 
    content:"\f041";
    position: absolute;
    left: 3px;
    color: #ffc222;
}
/* ____________________MAP_____ */
.footer_map {
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}

.footer_map iframe {
    width: 100%;
}

.footer_inner .header_btn{
    float: none;
    display: inline-block;
}

/* ________________footer_copy_____ */

.footer_copy {
    background: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}



/* _____________MODAL_____MODAL_____MODAL */

#animatedModal {
    max-width: 300px;
    width: 100%;
    text-align: center;
}
#animatedModal input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px; 
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#animatedModal input[type="submit"] {
    background: #ffc222;
    border: none;
    cursor: pointer;
}






/* ____________jQuery__syle___________ */

.jq-selectbox select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 10;
}

#animatedModal .jq-selectbox.jqselect {
    display: block;
    width: 100%;
}
#animatedModal .jq-selectbox__select {
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 10px 0px 0px 5px; 
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
    text-align: start;
}
#animatedModal .jq-selectbox__trigger-arrow::before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 17px;
    top: 10px;
    transform: rotate(90deg);

}
#animatedModal .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
    top: 40px;
}

#animatedModal .jq-selectbox li {
	min-height: 18px;
	padding: 5px 5px 6px;
    color: #231F20;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #A3ABB1;
}
#animatedModal .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
#animatedModal .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
#animatedModal .jq-selectbox li.disabled {
	color: #AAA;
}
#animatedModal .jq-selectbox li.disabled:hover {
	background: none;
}
#animatedModal .jq-selectbox li.optgroup {
	font-weight: bold;
}
#animatedModal .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
#animatedModal .jq-selectbox li.option {
	padding-left: 25px;
}
/* _______________________________ */